.comment-elem {
  margin: 0.5rem;
  padding: 0.3rem;
  text-align: left;
}

div.comment-message {
  width: 92%;
  height: fit-content;
  border: 2px solid black;
}

.comment-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-editor {
  flex-direction: column;
}

.comment-editor .tox-tinymce {
  border: 2px solid black;
}

.comment-buttons {
  flex-direction: row;
}
