body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
}

#root {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: 0 1rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

header {
  width: 80%;
  margin: 0.5rem;
  padding: 0.5rem;
}

main {
  width: 82%;
  margin: 0;
}

.main-content {
  height: fit-content;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.main-form-comment {
  padding: 0.3rem;
  background-color: rgb(247, 213, 213);
}

.comment-elem {
  margin: 0.5rem;
  padding: 0.3rem;
  text-align: left;
}

div.comment-message {
  width: 92%;
  height: fit-content;
  border: 2px solid black;
}

.comment-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-editor {
  flex-direction: column;
}

.comment-buttons {
  flex-direction: row;
}

.comment-editor section {
  border: 2px solid black;
}

.main-feedback {
  background-color: rgba(240, 176, 176, 0.952);
}

.feedback-emoji {
  margin-bottom: 1rem;
  border-bottom: 3px dashed beige;
}

.feedback-elem {
  margin: 0.5rem;
  padding: 0.3rem;
  text-align: left;
}

.feedback-elem.feedback-reply {
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  color: rgb(201, 64, 0);
}

.feedback-message #customerInput span {
  color: steelblue;
}

.main-form-status {
  background-color: rgb(247, 213, 213);
}

.main-form-status .status-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-form .status-message {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
}

.status-text-area {
  border: 2px solid black;
}

.status-form .status-submit-btn {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.main-candle-info {
  background-color: rgba(240, 140, 140, 0.952);
}

.candle-features {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}

.candle-features h3 {
  margin: 4px;
}

.candle-features::after {
  display: block;
  content: "";
  margin: 0 5rem 0.5rem 12rem;
  padding: 1rem 0;
  width: 6rem;
  grid-column: span 2;
  border-bottom: 3px dashed black;
}

.candle-type {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 0;
  column-gap: 1rem;
  width: fit-content;
}

.candle-type .candle-type-list {
  grid-row-start: 2;
  grid-column-start: 1;
}

.candle-type img {
  grid-row: span 2;
  grid-column: 2 2;
}

.candle-fragrance {
  display: grid;
  grid-template-columns: 1fr, 12rem;
  grid-template-rows: auto 1fr;
  column-gap: 1rem;
  row-gap: 0;
  width: fit-content;
}

.candle-fragrance img {
  grid-row: span 2;
}
